<div class="container my-3">
  <h2>Hello <%= current_user.first_name %>, here are your bookings</h2>

  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-3 my-3">
        <div class="card">
          <%= cl_image_tag booking.camera.photos.first.key, crop: :fill %>
          <div class="card-body">
            <h3 class="card-title"><%= booking.camera.title %></h3>
            <p><%= booking.start_date %> to <%= booking.end_date %></p>
          </div>
          <div class="card-footer"><%= link_to 'View details', my_booking_path(booking) %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
