
<div class="container">

  <div class="row">
    <div class="col-md-4">
    <h3>All bookings</h3>
    <div class="list-group">
      <% @bookings.each do |booking| %>
      <a href="<%= my_booking_path(booking) %>" class="list-group-item list-group-item-action" aria-current="true">
        <p><%= booking.camera.title %></p>
        <span class="text-muted small"><%= booking.start_date %> to <%= booking.end_date %></span>
      </a>
      <% end %>
    </div>

    </div>
    <div class="col-md-8">
      <h2><%= @booking.camera.title %></h2>

      <%= cl_image_tag @booking.camera.photos.first.key, crop: :fill, height: 300, class:"rounded-5 my-3" %>

      <p class="text-muted"><%= @booking.camera.description %></p>
      <p><%= @booking.start_date %> to <%= @booking.end_date %></p>
      <%= link_to 'View camera', camera_path(@booking.camera) %>
      <%= link_to 'Cancel booking', camera_path(@booking.camera) %>

    </div>
  </div>
</div>
