<div class="row">
  <% items.each do |item| %>
    <div class="col-md-4 mb-4">
        <div class="card shadow-lg border-0 rounded-4 bg-white">
          <% if item.photos.any? %>
          <div>
            <%= cl_image_tag item.photos.first.key, height: 300, crop: :fill, class:"card-img-top rounded-top-4 border-bottom"%>
          </div>
          <% else %>
            <img src="https://images.pexels.com/photos/225157/pexels-photo-225157.jpeg?auto=compress&cs=tinysrgb&w=1600" height="300" class="card-img-top rounded-3">
          <% end %>
            <div class="card-body" style="height: 300px;">
              <h5 class="card-title" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;"><strong><%= item.title %></strong></h5>
              <h6 class="card-subtitle mt-2 fst-italic text-decoration-underline"><%= item.brand %></h6>
              <p class="card-text mt-2"><%= item.description.truncate_words(30) %></p>
              <h6 class="card-subtitle mt-1 mb-2"><%= item.location %></h6>
              <div>
                <small style="color: red; font-weight: bold;"><%= number_to_currency(item.price, unit: "€") %></small>
              </div>
              </div>
            <div class="card-body border-top">
            <%= link_to 'View camera', polymorphic_path(item), class:"btn btn-primary text-white w-100" %>
            </div>
        </div>
      </div>
  <% end %>
</div>
