<div class="card shadow-sm border-2">
  <% @cameras.each do |camera| %>
    <% if camera.photos.any? %>
      <%= cl_image_tag camera.photos.first.key, height: 300, crop: :fill, class:"card-img-top" %>
    <% else %>
      <img src="https://images.pexels.com/photos/225157/pexels-photo-225157.jpeg?auto=compress&cs=tinysrgb&w=1600" height="300" class="card-img-top">
    <% end %>
    <div class="card-body">
      <h4 class="card-title"> <%= camera.title %> </h4>
      <p class="card-text"><%= camera.description.truncate_words(60) %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'View', camera_path(camera), class: 'btn btn-sm btn-outline-secondary' %>
        </div>
        <small style="color: red; font-weight: bold;"><%= number_to_currency(camera.price, unit: "€") %></small>
      </div>
    </div>
  <% end %>
</div>
