<!--Home PAGE-->
<section class="py-5 text-center container" style="background: url('https://media.photographycourse.net/wp-content/uploads/2023/03/24122838/wildlife-photographers.jpg') no-repeat center center; background-size: cover;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="color: white !important;">AirCam</h1>
        <p class="lead text-body-secondary" style="color: white !important;">Looking for a unique way to capture your next vacation? With AirCam, you can browse a wide selection of cameras available for rent in your area, and rent them for as long as you need.
</p>
        <p>
          <%= link_to 'See all', cameras_path, class: 'btn btn-primary my-2' %>
          <a href="#" class="btn btn-secondary my-2">How it Works</a>
        </p>
      </div>
    </div>
  </section>

<!-- CAMERA CARDS -->


<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @cameras.each do |camera| %>
       <div class="col">
        <div class="card shadow-sm border-2">
          <!-- <div style="height: 220px; background-size: cover; background-image: url('https://images.pexels.com/photos/51383/photo-camera-subject-photographer-51383.jpeg?auto=compress&cs=tinysrgb&w=1600')"></div> -->
          <%= cl_image_tag camera.photos.first.key, height: 300, crop: :fill, class:"card-img-top" %>
          <div class="card-body">
            <h4 class="card-title"> <%= camera.title %> </h4>
            <p class="card-text"><%= camera.description.truncate_words(60) %></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View', camera_path(camera), class: 'btn btn-sm btn-outline-secondary' %>
                </div>
                <small style="color: red; font-weight: bold;"><%= number_to_currency(camera.price, unit: "€") %></small>
              </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
