
  <div class="container">

    <div class="">
      <%= form_with url: cameras_path, method: :get, class:"input-group" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control form-control-lg",
              placeholder: "You can search for title, description and location"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary text-white" %>
      <% end %>
    </div>
  </div>

<div class="container mt-3"><%= render 'shared/cards', items: @cameras %></div>

<div class="d-flex justify-content-center mt-3">
  <%= will_paginate @objects, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
