<div class="container mt-3">

  <div class="row">
    <div class="col-md-8">

    <%= render 'carousel' %>

    <%= render 'categories' %>

    <div class="mt-4">
      <h2><%= @camera.title %></h3>
    </div>

<!-- Camera description -->
    <div>
      <h3>About the camera</h3>
      <p class="mb-4"><%= @camera.description %></p>
    </div>

<!-- Camera details -->
<div class="border-top border-bottom my-3 d-flex align-items-center py-3">
  <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center p-3 me-3" style="width: 50px; height: 50px;">
    <i class="fa-solid fa-camera" style="color: white"></i>
  </div>
  <div class="col">
    <%= @camera.brand %>
  </div>
  <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center p-3 me-3" style="width: 50px; height: 50px;">
    <i class="fa-solid fa-dollar" style="color: white"></i>
  </div>
  <div class="col">
    € <%= @camera.price %> per day
  </div>
  <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center p-3 me-3" style="width: 50px; height: 50px;">
    <i class="fa-solid fa-home" style="color: white"></i>
  </div>
  <div class="col">
    <%= @camera.location %>
  </div>
</div>

    <!-- ABOUT THE HOST -->
    <div class="mt-4">
      <h3>About your host</h3>
      <div class="row g-4">
        <div class="col-md-2">
        <% if @camera.owner.photo.key.present? %>
          <%= cl_image_tag @camera.owner.photo.key, class:"img-fluid rounded-start"%>
        <% end %>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title"><%= @camera.owner.full_name %></h5>
            <p class="card-text"><%= @camera.owner.bio %></p>
          </div>
        </div>
      </div>
    </div>

    </div>

    <!-- OPTIONS -->
    <div class="col-md-4 justify-content-center align-self-start d-flex flex-column">
            <% if current_user.id == @camera.owner_id %>
              <%= render 'owner_options', locals: {camera: @camera} %>
            <% else %>
              <%= render 'booker_options' %>
            <% end %>
    </div>
  </div>

</div>
