<!DOCTYPE html>
<html>
  <head>
    <title>Aircam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column h-100 m-0">
    <div style="flex: 1 0 auto; min-height: 90vh">

      <div class="shadow-lg ms-auto me-auto rounded-5 bg-light bg-gradient mb-5 pb-5" style="padding-top: 100px; margin-top: 75px; width: 90%;">
          <%= render "shared/navbar" %>
          <%= render "shared/flashes" %>
        <%= yield %>
      </div>
    </div>


    <%= render "shared/footer" %>
  </body>
</html>
