<!DOCTYPE html>
<html>
  <head>
    <title>Aircam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%# <div class="mb-3 border-bottom" style="height: 200px; background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);"> %>
  <%# </div> %>

  <div class="ms-auto me-auto rounded-5 bg-light bg-gradientpx-5 mt-5" style="padding-top: 100px; width: 90%;">
      <%= render "shared/navbar" %>


      <%= render "shared/flashes" %>

    <%= yield %>
</div>

    <%= render "shared/footer" %>
  </body>
</html>
